@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;
npm list 

/* Your custom styles go here */

/* body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  /* @apply bg-black text-white p-4 text-center; */
/* } */

/* main { */
  /* @apply max-w-800 mx-auto my-8 p-4 bg-white shadow-md; */
/* }  */ 